<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %> 
</head>

<header>
  <%- include('./partials/header') %> 
</header>

<body>
  <div class="card text">
    <div class="card-header text-muted"></div>
    <div class="card-body">
      <h5 class="card-title">Member login</h5>
        <div id="registration-field">
          <form action="/login" method="POST">
            <label for="email">Enter your email address</label>
            <div class="form-group mb-1">
              <input type="email" name="email" placeholder="@you" style="width: 300px">
            </div>
            <label for="password">Enter password</label>
            <div class="form-group mb-3.5">
              <input type="password" name="password" placeholder="must be at least 8 characters" style="width: 300px;">
            </div>
            <div class="form-group mb-1">
              <button type="submit" class="btn btn-primary" style="width:300px">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<%- include('./partials/bootstrapJS') %>

</body>
</html>
