<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %> 
</head>

<header>
  <%- include('./partials/header') %> 
</header>

<body>
  <div class="card">
    <div class="card-header text-muted"></div>
    <div class="card-body">
      <h5 class="card-title">Create Account</h5>
        <div id="registration-field">
          <form action="/register" method="POST">
            <label for="email">Enter your email address</label>

            <div class="form-group mb-3">
              
              <input type="email" name="email" placeholder="your@email.com" style="width: 300px">
            </div>
            <label for="password">Enter password</label>

            <div class="form-group mb-3.5">
              <input type="password" name="password" aria-describedby="passhelp" placeholder="password must be at least 8 characters" style="width: 300px">
            </div>
            <button type="submit" class="btn btn-primary" style="width:300px">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<%- include('./partials/bootstrapJS') %>

</body>
</html>
